<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { init } from 'aos';
import {
  CTA as CallToAction,
  Table as SlpTable,
  CopyMedia,
  Copy,
  CopyResources,
  SlpBlockquote,
  FeaturedMedia,
  NextStep,
} from '../../../components/common/index';
import {
  CopyMediaCard,
  CompanyCopyCard as CopyCard,
} from '../../../components/company/index';
import {
  TopicsCards,
  BenefitsIcons,
  TopicsHeader,
  TopicsCta,
  TopicsCopyBlock,
  TopicsEmphasis,
  TopicsInfoTable,
} from '../../../components/topics/index';

// Temporary components until old topics pages are updated. then these will be deleted
import {
  OldTopicsHeader,
  OldTopicsCta,
  OldBenefitsIcons,
} from '../../../components/topics/old/index.vue';
import { SolutionsResourceCards } from '~/components/solutions/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    CallToAction,
    Copy,
    CopyResources,
    CopyCard,
    CopyMediaCard,
    CopyMedia,
    TopicsCards,
    TopicsCta,
    SlpBlockquote,
    BenefitsIcons,
    TopicsHeader,
    FeaturedMedia,
    SlpTable,
    TopicsCopyBlock,
    SolutionsResourceCards,
    TopicsInfoTable,
    TopicsEmphasis,
    NextStep,
    OldTopicsHeader,
    OldTopicsCta,
    OldBenefitsIcons,
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const childtopic = await $content(
        `topics/devops/${params.childtopic ? params.childtopic : 'index'}`,
      ).fetch();
      return { childtopic };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).childtopic, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
});
</script>

<template>
  <div>
    <SlpContainer>
      <component
        :is="component.name"
        v-for="component in childtopic.components"
        :key="component.name"
        :data="component.data"
      />
    </SlpContainer>
    <SlpContainer variant="gradient">
      <NextStep disable-animations />
    </SlpContainer>
  </div>
</template>
